/* color */

$background-color-primary: #901C1C;
$background-color-secondary: #D3573C;
$background-color-tertiary: #C4C4C4;
$color-primary: #BF5138;
$color-secondary: #901C1C;
$color-tertiary: #525252;
$color-white: #fff;

/* font */

$font: 'DM Sans', sans-serif;