/* color */

$background-color-primary: #901C1C;
$background-color-secondary: #D3573C;
$background-color-tertiary: #E1E1E1;
$color-primary: #BF5138;
$color-secondary: #901C1C;
$color-tertiary: #525252;
$color-white: #fff;

/* font */

$font-title: 'Montserrat', sans-serif;
$font-text: 'Roberto', sans-serif;