h1 {
    font-size: 2em;
    color: $color-secondary;
    font-family: $font-title;
    font-weight: 500;
}
 
h2 {
    font-size: 3em;
    color: $color-primary;
    font-family: $font-title;
}
 
p {
    font-size: 1em;
    font-family: $font-text;
}