.container{
    height: 100%;
    width: 100%;
    padding: 0rem 3em;
    &__header {
        padding-top: 2em;
    }
    &__photographers,
    &__media{
        display: flex;
        flex-wrap: wrap;
        > * {
            flex: 0 1 33%;
        }
    }
    &__banner{
        margin: 2em 0em;
    }
}