.tag {
    cursor: pointer;
    font-family: $font;
    font-size: .75rem;
    font-weight: 700;
    color: $color-secondary;
    border: 1px $background-color-tertiary solid;
    border-radius: 1em;
    padding: .125rem .125rem;
    @include transitionshort;
    &:hover,
    &:focus,
    &.active {
        color: $color-white;
        background-color: $background-color-primary;
    }
}

.nav{
    @media only screen and (max-width: map-get($breakpoints, mobile)){
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    &-list{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        &-item{
            display: block;
            margin: 0rem .25rem;
            list-style-type: none;
            @media only screen and (max-width: map-get($breakpoints, mobile)){
                margin: .25rem;
            }
        }
    }
    
}

