
//skip to content icon

.skip-link{
    background: $background-color-secondary;
    color: black;
    font-weight: 700;
    font-family: $font;
    letter-spacing: .1em;
    position: absolute;
    left: 50%;
    border-radius: 4px;
    padding: .5em 1em;
    transform: translateY(-300%) translateX(-50%);
    transition: transform 300ms;
    &:focus{
        transform: translateY(-120%) translateX(-50%);
    }
  }