.btn{
    background-color: $background-color-primary;
    color: white;
    padding: 1em 3em;
    border-radius: 5px;
    border: none;
    @include transitionshort;
    &:hover,
    &:focus{
        background-color: $background-color-secondary;
        color: black;
    }
    &-contact{
        margin: .4em 2em;  
    }
    &-submit{
        margin: 1.5em 0;
    }
    &-likes{
        margin: none;
        color: $background-color-primary;
        background-color: transparent;
        border: none;
    }
}

