.card{
    width: 15em;
    height: 25em;
    text-align: center;
    &__photographer {
        margin: 3em 5em;
        &-portrait {
        margin: .5rem auto;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        height: 14em;
        width: 14em;
        &-img {
            position:absolute;
            height: auto;
            width: auto;    
            max-width:100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            }
        }
        &-title-name{
            color: $color-primary;
        }
        &-description{
            &-location{
                color: $color-secondary;
                font-size: 1.25em;
            }
            &-tagline{
                font-size: .75em;
                margin: .3em 0;
            }
            &-price{
                color: $color-tertiary;
                font-size: .75em;
            }
        }
        &-tags{
            display: flex;
            margin: .3em 0;
            flex-wrap: wrap;
            justify-content: center;
            &-item {
                margin: .2em;
            }
        }
    }
}