.card{
    &__photographer {
        width: 20em;
        height: 25em;
        text-align: center;
        margin: 3em 0em;
        &-portrait {
        margin: .5rem auto;
        overflow: hidden;
        border-radius: 50%;
        height: 14em;
        width: 14em;
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
        }
        &-title-name{
            color: $color-primary;
        }
        &-description{
            &-location{
                color: $color-secondary;
                font-size: 1.25em;
            }
            &-tagline{
                font-size: .75em;
                margin: .3em 0;
            }
            &-price{
                color: $color-tertiary;
                font-size: .75em;
            }
        }
        &-tags-list{
            display: flex;
            margin: .3em 0;
            flex-wrap: wrap;
            justify-content: center;
            &-item {
                list-style-type: none;
                margin: .2em;
            }
        }
    }
    &__banner{
        display: flex;
        justify-content: space-between;
        background-color: #FAFAFA;
        width: 100%;
        height: 14em;
        padding: 2em;
        &-information{
            display: flex;
        }
        &-title-name{
            color: $color-primary;
        }
        &-description{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 18em;
            &-location{
                color: $color-secondary;
                font-size: 1.25em;
            }
            &-tagline{
                font-size: .75em;
                margin: .3em 0;
            }
            &-price{
                color: $color-tertiary;
                font-size: .75em;
            }
        }
        &-tags-list{
            display: flex;
            margin: .3em 0;
            flex-wrap: wrap;
            &-item {
                list-style-type: none;
                margin: .2em;
            }
        } 
        &-portrait{
            overflow: hidden;
            border-radius: 50%;
            height: 10em;
            width: 10em;
            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
        }
    }
    &__media{
        height: 25em;
        margin: 2em 0em;
        padding: 0em 2em;
        &-media{
            width: 100%;
            height: 20em;
        }
        &-img,
        &-video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-description{
            display: flex;
            color: $color-primary;
            &-price{
                margin-left: auto;
            }
            &-likes{
                margin-left: .75em;
            }
        }
    }
    &__counter{
        width: 15em;
        height: 3em;
        background: $background-color-secondary;
        position: fixed;
        bottom: 0;
        right: 2%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
}
