.modal{
    &__media{
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 5em;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: white;
        &-close{
            color: $color-primary;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
            &:hover,
            &:focus{
                cursor: pointer;
            }
        }
        &-content{
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            max-width: 1300px;
            height: 85%;
            &-media{
                height: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-prev,
        &-next{
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 0;
            margin-top: -50px;
            color:$color-primary;
            font-weight: bold;
            font-size: 30px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }
        &-next{
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        &-caption-container{
            background-color: white;
            padding: 2px 16px;
            color: $color-primary;
            margin-top: 1em;
        }
    }
}
