.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    &__media{
        background-color: white;
        @media only screen and (max-width: map-get($breakpoints, mobile)){
            padding-top: 50%;
        }
        &-close{
            color: $color-primary;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
            z-index: 10000;
            &:hover,
            &:focus{
                cursor: pointer;
            }
            @media only screen and (max-width: map-get($breakpoints, mobile)){
                position: relative;
                right: -90%;
            }
        }
        &-content{
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            max-width: 1300px;
            height: 85%;
            @media only screen and (max-width: map-get($breakpoints, mobile)){
                max-width: 95vw;
                height: 15em;
            }
            &-media{
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                @media only screen and (max-width: map-get($breakpoints, mobile)){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & >* {
                    margin-left: 50%;
                    transform: translate(-50%,0%);
                    @media only screen and (max-width: map-get($breakpoints, mobile)){
                        margin: 0;
                        transform: none;
                        max-height: 85%;
                        max-width: 85%;
                    }
                }
            }
        }
        &-prev,
        &-next{
            border:none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 0;
            margin-top: -50px;
            color:$color-primary;
            font-weight: bold;
            font-size: 30px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
            @media only screen and (max-width: map-get($breakpoints, mobile)){
                margin-top: 0;
            }
        }
        &-next{
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        &-caption-container{
            background-color: white;
            padding: 2px 16px;
            color: $color-primary;
            margin-top: 1em;
            @media only screen and (max-width: map-get($breakpoints, mobile)){
                margin-top: 0;
            }
        }
    }
    &__contact{
        background-color: transparent;
        &-close{
            color: white;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 3em;
            &:hover,
            &:focus{
                cursor: pointer;
            }
        }
        &-title{
            margin-bottom: .25em;
        }
        &-content{
            margin: 0 auto;
            padding: 1em 2em;
            background-color: $background-color-secondary;
            width: 100%;
            max-width: 30em;
            position: relative;
            @media only screen and (max-width: map-get($breakpoints, mobile)){
                position: absolute;
                top: 0;
                height: 100vh;
            }
        }
        label{
            display: inline-block;
            font-size: 1.5em;
            font-family: $font;
            margin-top: .125em;
            margin-bottom: .125em;
            @media only screen and (max-width: map-get($breakpoints, mobile)){
                margin-top: .5em;
                margin-bottom: .25em;
            }
        }
        &-form-input{
            border: none;
            margin: 0;
            padding: 8px;
            width: 100%;
            border-radius: 4px;
            font-size: 1.5em;
            font-family: $font;
            height: 2em;
            &--message{
                height: 6em;
                @media only screen and (max-width: map-get($breakpoints, mobile)){
                    height: 8em;
                }
            }
        }
    }
}
